.our-products {
    text-align: center;
    @include rhythm(0,2,3,0);
    background-color: $our-products-bg-color;

    h2 {
        color: $our-products-h2-color;
        @include text-shadow($our-products-h2-text-shadow);
    }
}
