.our-product {
    text-align: center;

    color: $our-product-text-color;
    h3 {
        color: $our-product-text-color;
        font-weight: normal;
        letter-spacing: 2px;
        @include adjust-font-size-to($base-font-size);
        @include rhythm(1,0,0,0, $base-font-size);
        font-family: $body-font-family;
        text-transform: uppercase;
    }
    img {
        height: rhythm($lines: 5);
    }

    @media #{map-get($m-medium, query)} {
      @include clearfix;
      text-align: left;

      img {
          float: left;
          margin-right: 1em;
      }
      p {
        @include clearfix;
      }
      h3 {
        @include margin-leader(0, $base-font-size);
      }
      .button {
        float: right;
      }
    }
}

@for $i from 1 through length($our-product-colors) {
    .product-#{$i} {
        background-color: nth($our-product-colors, $i);
        border-color: nth($our-product-colors, $i);
    }
}
