.testimonial {
    text-align: center;
    background-color: $testimonial-bg-color;
    border-color: $testimonial-border-color;
    h3 {
        font-weight: normal;
        letter-spacing: 2px;
        @include adjust-font-size-to($base-font-size);
        @include rhythm(1,0,0,0, $base-font-size);
        font-family: $body-font-family;
        text-transform: uppercase;
    }
    .job-title {
        font-style: italic;
        display: block;
        @include rhythm(0,0,0,1);
    }
    img {
        border: $testimonial-image-border-width solid $testimonial-image-border-color;
        @include border-radius(50%);
        height: rhythm($lines: 5, $offset: 2*$testimonial-image-border-width);
    }
    p {
        color: $testimonial-text-color;
    }

    @media #{$medium-screen} {
      @include clearfix;
      text-align: left;

      img {
          float: left;
          margin-right: 1em;
      }
      p {
        overflow: hidden;
      }
      h3 {
        @include margin-leader(0, $base-font-size);
      }
    }
}
