.testimonials {
    @include rhythm(0,3,3,0);
    background-color: $testimonials-bg-color;

    h2 {
        text-align: center;
        color: $testimonials-h2-color;
        @include margin-trailer(2, $h2-font-size);
        @include text-shadow($testimonials-h2-text-shadow);
    }
}
