.testimonials {
  text-align: center;
  @include rhythm(0,2,3,0);

  background-color: $testimonials-bg-color;

  h2 {
    color: $testimonials-h2-color;
    @include text-shadow($testimonials-h2-text-shadow);
  }
  img {
    // http://stackoverflow.com/questions/10844205/html-5-strange-img-always-adds-3px-margin-at-bottom
    height: rhythm(4);
  }
  article {
      @include margin-leader(2);
  }
}
