// Vertical Rhythm
//
$base-font-size: 20px;
$base-line-height: 28px;
//
// End Vertical Rhythm

// Google fonts
//
@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700,400italic,700italic');
$title-font-family: 'Droid Sans', Verdana, Arial, sans-serif;
$body-font-family: 'Droid Serif', Times, 'Times New Roman', serif;
//
// End Google fonts