// Vertical Rhythm
//
$base-font-size: 20px;
$base-line-height: 28px;
//
// End Vertical Rhythm

// Typography
//
@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700,400italic,700italic');
$sans-serif-font-family: 'Droid Sans', Verdana, Arial, sans-serif;
$serif-font-family: 'Droid Serif', Times, 'Times New Roman', serif;

$xlarge-font-size: ($base-font-size * 2.7);
$large-font-size: ($base-font-size * 2);
$medium-font-size: ($base-font-size * 1.1);

$h1-font-size: $xlarge-font-size;
$h2-font-size: $large-font-size;
$h3-font-size: $medium-font-size;

$body-font-family: $serif-font-family;
$title-font-family: $sans-serif-font-family;
//
// End Typography

// Colors
//
$primary-color: #3f51b5;
$light-primary-color: #c5cae9;
$text-color: #fff;
$primary-text-color: #333;
//
// End colors

// Welcome
//
$welcome-bg-color: $primary-color;
$welcome-title-color: $text-color;
$welcome-subtitle-color: $light-primary-color;
//
// End Welcome

// Buttons
//
$standard-button: (
    font-size: $medium-font-size,
    border-width: 2px,
    horizontal-padding: $medium-font-size,
    min-width: 78px,
    border-radius: 2px
);
// $large-button: (
//
// );
// $small-button: (
//
// )
//
// End buttons
