@include establish-baseline;

body {
    font-family: $body-font-family;
    color: $primary-text-color;
}

#{headings(1,3)} {
    font-weight: bold;
    font-family: $title-font-family;
}

h1 {
    @include adjust-font-size-to($h1-font-size);
}
h2 {
    @include adjust-font-size-to($h2-font-size);
}
h3 {
    @include adjust-font-size-to($h3-font-size);
}

p {
  @include rhythm(0,0,0,1);
}

img {
  vertical-align: middle;
}
