%section.testimonials.l-columns-3
    .l-page-width
        %h2 This is what our customers say
        - 3.times do |n|
            .l-column
                = partial 'testimonials/testimonial', locals: { n: n }
