$font-url:                        'http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400|Roboto:400italic,700italic,700,400';

$body-font-family:                'Roboto', serif;
$title-font-family:               'Roboto Condensed', sans-serif;

$primary-color:                   #ffc107;
$light-primary-color:             #ffecb3;
$accent-color:                    #795548;
$text-color:                      #212121;
$primary-text-color:              #212121;
$divider-color:                   #b6b6b6;
$secondary-text:                  #727272;

$button-color:                    white;

$cta-button-color:                white;

$welcome-title-color:             white;
$welcome-title-text-shadow:       0px 1px 2px darken($primary-color, 10%);
$welcome-subtitle-text-shadow:    0px 1px 2px darken($primary-color, 10%);


$testimonials-h2-color:           white;
$testimonial-border-color:        white;

$testimonial-bg-color:            white;

$our-products-h2-color:           white;

$our-product-text-color:          white;
